.navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;

}
 .navbar div{
    text-align: center;
    align-items: center;
 }

  .logo{
    display: flex;
    font-size: 150%;
    color: #046E1B;
    font-weight: 700;
 }

 .logo .logolottie{
   width: 30px;
   height: 30px;
 }
 .navbar .links{
    display: flex;
    flex-basis: 40%;
    justify-content: space-evenly;
 }

 .navbar .links li{
    list-style-type: none;
    transition: 0.5s ease-in-out;
 }

 .navbar .links li:hover{
   font-size: 110%;
   cursor: pointer;
 }

 .navbar .links li:focus{
   text-decoration: underline;
 }

 .navbar .profile{
    display: flex;
    justify-content: space-between;
    flex-basis: 4%;
 }

 .navbar .profile div{
    display: flex;
    justify-content: center;
 }

 input{
   border: 2px solid black;
   margin-left: 5px;
   height: 4vh;
   border-radius: 5px;
   text-align: center;
   transition: 1s ease-in-out;
 }

 .search{
   cursor: pointer;
 }



 @media(max-width:600px){
  .smallnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .naver{
    display: flex;
    align-items: center;
   
  }

  .actuallinks{
    background-color: #046E1B;
    position: absolute;
    padding: 30px;
    top: 5vh;
    left: 64%;
    z-index: 2;
  }

  .actuallinks li{
    list-style-type: none;
    color: #F79F1A;
    margin-top: 5px;

  }
 }

